@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.app_wrapper {
  background-color: #EFF2F8;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'inter';
}

.content_wrapper {
  margin-top: 20px;
  background-color: #fff;
  color: #000;
  width: 720px;
  height: 754px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

.title_container {
  margin-bottom: 20px;
}

.input_container form#addTask {
  display: flex;
  gap: 10px;
}

.input_container input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
  background-color: #F8F9FD;
  color: #000;
  box-shadow: 1px 0px 8px rgb(201, 201, 201);
}

.check {
  width: 50px;
  height: 30px;
}

.list_container {
  width: 600px;
  margin-top: 30px;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 8px 20px;
}

.task_content {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 5px 18px;
  color: #000;
  background-color: #F8F9FD;
  border-radius: 5px;
  box-shadow: 1px 0px 10px #c0c1c2;
}

.done {
  background-color: green;
}

.task_content h2 {
  font-weight: 500;
  margin-bottom: 2px;
}

.btn_container {
  display: flex;
  gap: 10px;
}

.btn_container button {
  padding: 5px;
  border: none;
  border-radius: 10px;
}

button.edit {
  background: none;
  color: #9677EF;
  font-size: 16px;
}

button.delete {
  color: red;
  background: none;
  font-size: 16px;
}

button.add {
  width: 167px;
  color: #fff;
  font-size: 16px;
  background-color: #9677EF;
  border-radius: 5px;
  height: 40px;
  border: none;
  box-shadow: 1px 0px 8px #9677EF;
}

button.back {
  border-radius: 5px;
  background-color: #1F2937;
  border: none;
  padding: 10px;
  color: #fff;
}

.logout {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
  color: #000;
}

button.logout {
  border-radius: 5px;
  background-color: #1F2937;
  border: none;
  padding: 10px;
  color: #fff;
}

button.logout:hover {
  cursor: pointer;
  color: #fff;
  background-color: red;
}

button:hover {
  cursor: pointer;
}